@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.slider {
  font-family: "Poppins", sans-serif;
  background-color: #212529;
  /* background-color: red; */
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.slider__title,
.slider__subtitle {
  text-align: center;
}
.slider__title {
  font-weight: 600;
  font-size: 60px;
}
.slider__subtitle {
  font-weight: 500;
  font-size: 24px;
  margin: 2rem;
}
